@import "../node_modules/bootstrap/scss/bootstrap.scss";

.react-calendar-timeline {
  .rct-header-root {
    &.header-background {
      background-color: #ffffff;
    }
    .rct-calendar-header {
      .rct-dateHeader-primary {
        color: #000000;
      }
      .rct-calendar-header__cell {
        padding: 6px 0;
        text-align: center;
        font-weight: bold;
        background-color: #f0f0f0;
        border-top: 2px solid #bbb;
        border-bottom: 2px solid #bbb;
        border-left: 2px solid #bbb;
        cursor: pointer;
      }
    }
  }
  .rct-outer {
    height: calc(100vh - 300px) !important;
    overflow-y: scroll;
    overflow-x: hidden;

    .rct-sidebar {
      .rct-sidebar-row {
      }
    }
    .rct-scroll {
      .rct-item {
        a {
          color: #ffffff !important;
          font-size: 14px;
        }
      }
    }
  }
}

// rgb(26, 111, 179)

.calendar {
  padding: 40px;
  display: flex;
  flex-direction: column;
  background: #f9f9f9;
  /*background-color: #1b1b1b;*/
  &__action {
    margin-bottom: 50px;
    display: flex;
    justify-content: flex-start;
    .calendar__navigator {
      margin-right: 50px;
      display: flex;
      border-radius: 8px;
      border: 1px solid gray;
      width: 150px;
      div {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
      div + div {
        border-left: 1px solid #1b1b1b;
      }
      .calendar__daterange {
        display: flex;
        align-items: center;
      }
    }
    .calendar__range {
      height: 100%;
    }
  }
}
